body {
    color: #282828;
}
/* NAVBAR */
#cabecalho{
    position: fixed;
    display: flex;
    background-color: #121b54;
    width: 1349px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin-top: -22px;
    margin-left: -8px;
}
#cabecalho h1{
    color: white;
    margin-left: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#menu{
    display: block;
    margin-right: 20px;
    width: 800px;
    /* border: 1px solid black; */
}
ul#listmenu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-transform: uppercase;
}
ul#listmenu > li {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    padding: 10px;
    transition: background-color 0.5s;
}
ul#listmenu a{
    /* border: 1px solid black; */
    text-decoration: none;
    padding: 8px 5px 8px 5px;
}
nav#menu li:hover{
	background-color: #00000080;
}

/* BANNER INICIAL */
#bemvindo{
    background-image: url('../onibus.png');
    background-repeat: no-repeat;
    background-position: 680px 40px;
    background-color: #014c78;
    width: 1349px;
    height: 550px;
    margin-top: 20px;
    margin-left: -8px;
}
#bemvindo .bemvindo-texto{
    width: 650px;
    height: 290px;
    margin: 0px auto;
    margin-left: 45px;
    padding-top: 160px;
    word-wrap: break-word;
    text-align: left;
    color: white;
    font: normal 14pt Arial, sans-serif;
}
#bemvindo h1{
    font-size: 48pt;
    font-weight: bold;
}
#bemvindo p{
    text-align: justify;
    font-size: 14pt;
    font-weight: 500;
}

/* TABELAS DOS HORÁRIOS E INTINERÁRIO */
#conteudo {
    background-color: ghostwhite;
    width: 1351px;
    height: auto;
    margin-top: -22px;
    margin-left: -10px;
}
#tabelas{
    display: block;
    background-color: ghostwhite;
    width: 1200px;
    height: 1200px;
    margin: 0px auto;
    padding-top: 70px;
    text-align: center;
}
h2.ttlsartigos{
    font-size: 20pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    text-shadow: rgba(190, 190, 190, 0.589) 2px 2px 2px;
    text-decoration: underline;
}
.onibus{
    background-color: #fff;
    width: 1200px;
    height: 1100px;
    margin: 0px auto;
    padding-top: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0.125rem 0.017rem 10px;
    align-content: center;
}
table{
    border: 1px solid black;
    text-align: center;
    border-spacing: 0px;
    color: #000;
}
table td{
    font-size: 14.15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    min-width: 60px;
    padding: 5px;
}
.tabelaonibus{
    display: block;
    width: 1000px;
    height: auto;
    margin: 0px auto;
}
.titulo{
    font-size: 13.15pt;
    font-weight: bold;
    background-color: #f26e11;
    color: white;
}
.intiner{
    text-align: justify;
    padding: 5px;
}

/* HISTÓRIA DA EMPRESA */
#historia{
    color: #fff;
    background-color: #014c78;
    font-family: Arial, Helvetica, sans-serif;
    width: 1351px;
    height: 400px;
    text-align: center;
}
#historia div{
    padding-top: 55px;
    max-width: 720px;
    word-wrap: break-word;
    margin: 0px auto;
}

/* CIDADES Q ATUA */
#cidades{
    width: 1351px;
    height: 300px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
#cidades div {
    padding-top: 30px;
}
ul#listcidades{
    display: flex;
    max-width: 1000px;
    margin: 0px auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    font-size: 18pt;
}
ul#listcidades > li{
    font-weight: bold;
    flex: 1 1 150px;
    padding: 20px;
    margin: 10px;
}

/* FORMULÁRIO */
#formcad{
    background-color: #f26e11;
    width: 1351px;
    height: 700px;
    padding-top: 10px;
    padding-bottom: 20px;
}
#formcad > h2 {
    color: white;
}
#formcad form{
    background-color: white;
    width: 600px;
    height: 580px;
    margin: 0px auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    padding-top: 1px;
    padding-bottom: 10px;
}
fieldset{
    width: 500px;
    margin: 0px auto;
    margin-top: 25px;
}
legend{
    font: normal bold 14pt Arial, sans-serif;
    border-style: none;
}
input{
    font-size: 12.13pt;
    height: 30px;
}
.email{
    width: 273px;
}
.end{
    width: 480px;
    margin: 0px auto;
}
.cargos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#box-button {
    width: 500px;
    margin: 0px auto;
    margin-top: 10px;
    text-align: center;
}
button {
    color: white;
    margin-top: 15px;
    font: normal bold 18pt Arial;
    background: #f26e11;
    width: 200px;
    height: 55px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

footer{
    background-color: #121b54;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1351px;
    height: 250px;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer h2{
    margin-left: 15px;
    padding-top: 8px;
}
a{
    color: white;
}
#infos{
    display: flex;
    height: 30px;
    font-size: 14.15pt;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 90px;
}
